body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
   }
   .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
   }
   h1 {
    text-align: center;
   }
   form {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   label {
    font-weight: bold;
    margin-top: 10px;
   }
   input[type="number"],
   input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
   }
   input[type="button"],
   input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(159, 159, 235);
    color: white;
    cursor: pointer;
   }
   input[type="button"]:hover,
   input[type="reset"]:hover {
    background-color: rgb(82, 82, 165);
   }
   .roleta {
    margin-top: 30px;
    text-align: center;
   }
   h2 {
    margin-bottom: 10px;
   }
   #status {
    max-width: 200px;
    margin: 0 auto;
   }
   
   .caixa {
    width: 150px;
   }