/**
    Folha de estilo - Simulador
    @author João Vitor Andrade
*/

body {
    font-family: sans-serif;
    font-size: 1em;
}

img {
    max-width: 100%;
}

.container {
    margin: 50px 0px;
    text-align: center;
}

/* Cabeçalho*/

header h1 {
    color: #cc470d;
    text-align: center;
}

/* Menu */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #e15a1f;
    overflow: hidden;
    /* Esconde a barra de rolagem */
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #cc470d;
    transition: all 0.4s;
}

/* Conteúdo */
#sw1 {
    float: left;
}

#sw2 {
    float: right;
}

/* Rodapé >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
footer {
    width: 100%;
    background-color: #e15a1f;
    color: #ffffff;
    padding: 5px 0px;
    text-align: center;
}

/* Layout Tela Maior */
@media (min-width: 576px) {

    header h1 {
        text-align: left;
    }

    .container {
        text-align: left;
    }

    #sw2 {
        float: left;
    }
}